/*-- scss:defaults --*/
// $primary: #2c365e;          // Main theme color
// $body-bg: #fefefe;          // Background color
// $link-color: $primary;        // Inherit from primary
.books {
}

.tr {
    max-width: 55%;
    padding-left: 1em;
}
.tl {
    max-width: 45%;
}